body {
}
.nav {
    display: flex;
    justify-content: space-between;
    background-color: #D9D9D9;
    border-radius: 5px;
    align-items: baseline;
}

.logo {
    margin: 10px;
}

.out img {
    object-fit: cover;
}

.end {
    display: flex;
}

.sidjjebar {
    display: flex;
    align-items: center;
    background-color: #F39237;
    justify-content: space-evenly;
    color: black;
    border-radius: 5px;
}
.icon img {
    width: 20px;
}


@media(min-width: 600px){
    .body{
        display:flex;
        gap:10px;
    }
    
}@media(max-width: 600px){
    .nav1 {
        position:absolute;
        width:50%;
        background-color:red;
        
    }
    .body
    {
        width:100%;
    }
 }
